@(title: String, document: String, messageForm: Form[Message],id: Long)
@import helper._
@main("hoge") {
<div class=hedder>
<h1>@title</h1>
<div class= nav>
<input type="button" onclick="location.href='/'"value="一覧に戻る"class="btn">
<input type="button" onclick="location.href='add'"value="新規"class="btn">
<input type="button" onclick="location.href='setItem'"value="投稿編集"class="btn">
<input type="button" onclick="location.href='find'"value="投稿者検索"class="btn">
</div>
</div>

<h3>@document</h3>
	@form(action = routes.Application.doEdit()) {
    	<input type="hidden"  name="id" value="@id">
  		@inputText(messageForm("name"),'_label -> "name",'_help -> "required")
  		@inputText(messageForm("mail"),'_label -> "mail",'_help -> "Email")
  		@textarea(messageForm("message"), args = 'rows -> 3, 'cols -> 50, '_label -> "message")
  		<input type='submit' value='送信'>
  	}
}